<%= form_for(@badge) do |f| %>
  <% if @badge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@badge.errors.count, "error") %> prohibited this badge from being saved:</h2>

      <ul>
      <% @badge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :picturelink %><br>
    <%= f.text_field :picturelink %>
  </div>
  <div class="field">
    <%= f.label :region %><br>
    <%= f.text_field :region %>
  </div>
  <div class="field">
    <%= f.label :champion %><br>
    <%= f.text_field :champion %>
  </div>
  <div class="field">
    <%= f.label :ville %><br>
    <%= f.text_field :ville %>
  </div>
  <div class="field">
    <%= f.label :typebadge %><br>
    <%= f.text_field :typebadge %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
