    <div class="container">
      

		  <div class="introduction page-header">
        <h1>Ranking</h1>
        <h3>Who will be the next best trainer ?!</h3>
        <div style="margin:25px 0;">
          <script type="application/javascript">

            function newDay(result){
                window.location.reload()
            }

            var currentDate = new Date();
            var hours = currentDate.getHours();
            var minutes = currentDate.getMinutes();
            var seconds = currentDate.getSeconds();

            var secondsRemaining = 60 - seconds;
            var minutesRemaining = seconds != 0 ? (60 - minutes) - 1 : 60 - minutes;
            var hoursRemaining = minutes != 0 ? (24 - hours) - 1 : 24 - hours;

            var time = secondsRemaining + (minutesRemaining * 60) + (hoursRemaining * 3600);

            var myCountdownTest = new Countdown({
                            time : time,
                            width : 300, 
                            height  : 80,
                            onComplete : newDay,
                            rangeHi : "hour",
                            hideLine : true
                            });
          </script>
        </div>
      </div>
      
      <% if @ranksAll.count > 2 %>
        <div class="row">
          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <%= image_tag("medals/gold.png", :class => "medals") %>
              <div class="caption">
                <h3>FiletMignon<br>DePorcALOrange</h3>
                <hr>
                <p>
                  Pokemon caught: <b><%= @ranks[0].pokemon_caught %></b> <br>
                  Pokemon seen: <b><%= @ranks[0].pokemon_viewed %></b><br>
                  Point: <b><%= @ranks[0].total_points %></b>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
            <div class="thumbnail">
              <%= image_tag("medals/silver.png", :class => "medals") %>
              <div class="caption">
                <h3>GogoGadgeto<br>FriandALaSaucisse</h3>
                <hr>
                <p>
                  Pokemon caught: <b><%= @ranks[1].pokemon_caught %></b> <br>
                  Pokemon seen: <b><%= @ranks[1].pokemon_viewed %></b><br>
                  Point: <b><%= @ranks[1].total_points %></b>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4">
              <div class="thumbnail">
              <%= image_tag("medals/bronze.png", :class => "medals") %>
              <div class="caption">
                <h3>YartikPsartamJEn<br>PeuxPlusDeCeToubib</h3>
                <hr>
                <p>
                  Pokemon caught: <b><%= @ranks[2].pokemon_caught %></b> <br>
                  Pokemon seen: <b><%= @ranks[2].pokemon_viewed %></b><br>
                  Point: <b><%= @ranks[2].total_points %></b>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="panel panel-default">
       <div class="panel-heading">Your position in this ranking</div>

        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Pseudo</th>
              <th>Pokemon caught</th>
              <th>Pokemon seen</th>
              <th>Badges obtained</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% if @ranksAll.count > 0 %>
                <td>/ <%= @ranksAll.count %></td>
                <td><%= @trainerPseudo %></td>
                <td><%= @trainerRank.pokemon_caught %> / <%= @pokemonMax %></td>
                <td><%= @trainerRank.pokemon_viewed %> / <%= @pokemonMax %></td>
                <td><%= @trainerRank.badges_count %> / <%= @badgeMax %></td>
                <td><%= @trainerRank.total_points %></td>
              <% else %>
                <td><%= "1 / 1" %></td>
                <td><%= @trainerPseudo %></td>
                <td><%= "0" %> / <%= @pokemonMax %></td>
                <td><%= "0" %> / <%= @pokemonMax %></td>
                <td><%= "0" %> / <%= @badgeMax %></td>
                <td><%= "0" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
      
      <nav style="margin-bottom:-10px">
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a>...</a></li>
          <li><a href="#">299</a></li>
          <li><a href="#">300</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

      <div class="panel panel-default">
       <div class="panel-heading">Ranking</div>

        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Pseudo</th>
              <th>Pokemon caught</th>
              <th>Pokemon seen</th>
              <th>Badges obtained</th>
              <th>Points</th>
            </tr>
          </thead>
          <tbody>
            <% if @ranksAll.count > 0 %>
              <% @ranks.each do |rank| %>
                <tr>
                  <td><%= @i %> / <%= @ranksAll.count %></td>
                  <td><%= rank.trainer.email %></td>
                  <td><%= rank.pokemon_caught %> / <%= @pokemonMax %></td>
                  <td><%= rank.pokemon_viewed %> / <%= @pokemonMax %></td>
                  <td><%= rank.badges_count %> / <%= @badgeMax %></td>
                  <td><%= rank.total_points %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td><%= "1 / 1" %></td>
                <td><%= @trainerPseudo %></td>
                <td><%= "0" %> / <%= @pokemonMax %></td>
                <td><%= "0" %> / <%= @pokemonMax %></td>
                <td><%= "0" %> / <%= @badgeMax %></td>
                <td><%= "0" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>