<div id="contactHeader">
  	<h1>
    	Do you have questions?
  	</h1>
	<h1>
	   You saw a mistake or bug?
	</h1>
  	<h1>Send us a message!</h1>
</div>

<div class="container">
	<div class="page-header">
    <h1>Contact</h1>
  </div>
	<%= simple_form_for @contact, :html => {:id => 'contactForm' } do |f| %>
    <%= label_tag 'subject', 'Subject' %>
    <%= f.text_field :subject, :required => true, :class =>'form-control', :placeholder=>"I love your website <3" %>
    <%= label_tag 'message', 'Message' %>
    <%= text_area(:message, :f, cols: 20, rows: 40, class: 'form-control form-textarea required', placeholder: "Your message here <3") %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      <%= f.text_field :reply, :value => @trainer.email %>
    </div>
    <%= f.button :submit, 'Send', :class=> "btn btn-purple" %>
  <% end %>
</div>
