<p id="notice"><%= notice %></p>

<div class="container">
  <div class="introduction page-header">
    <h1>Megabookedex</h1>
    <h3>The Ultimate Book which gather all your Pokemon and badges.</h3>
    
  </div>
</div>

<div class="Test">
<span id="maxPokemonPage" style="display:none"><%= @pokemonMax/18 %></span>
<button id="goToPrevPage">Prev</button>
<button id="goToNextPage">Next</button>
<div id="resultsPKMN"></div>
<div id="resultsPKMNTrainer"></div>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Picturelink</th>
      <th>Smallpicturelink</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pokemons.each do |pokemon| %>
      <% if (@pokemonTrainer.include? pokemon) %>
        <% @pkmn = @pokemonTrainer.find(pokemon.id) %>
      <% else %>
        <% @pkmn = nil %>
      <% end %>
      <tr id="pkmnRow<%= pokemon.id%>">
        <td><%= pokemon.number %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.picturelink  %></td>
        <td><%= image_tag("pokemon/"+pokemon.smallpicturelink+".png") %></td>
        <td class="huntActionColumn">
          <button class="removeHuntButton" onclick="changeStateOfPokemon(<%= pokemon.number %>, 'None')"
          style="display:<%= (@pkmn != nil)? '' : 'none' %>"
          >Remove</button>
          <button class="addViewedHuntButton" onclick="changeStateOfPokemon(<%= pokemon.number %>, 'Viewed')"
          style="display:<%= (@pkmn == nil || (@pkmn != nil && @pkmn.state == "Caught"))? '' : 'none' %>"
          >Viewed</button>
          <button class="addCaughtHuntButton" onclick="changeStateOfPokemon(<%= pokemon.number %>, 'Caught')"
          style="display:<%= (@pkmn == nil || (@pkmn != nil && @pkmn.state == "Viewed"))? '' : 'none' %>"
          >Caught</button>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Badges</div>
    <div class="panel-body">
      <label for="">Progress:</label>
      <div class="progress">
        <% @prctCompletion = ((@trainerBadges.count * 100)/ @badgesTotal) %> 
        <div id="badgeProgressBar" class="progress-bar progress-bar-striped active" role="progressbar" 
          aria-valuenow="<%= @prctCompletion %>" aria-valuemin="0" 
          aria-valuemax="100" style="width: <%= @prctCompletion %>%">
          
          <span id="totalPrctCompletion" class="sr-only"><%= @prctCompletion %>% Complete</span>
          <span id="totalBadges" style="display:<%= (@prctCompletion > 7)? '' : 'none'  %>">
            <%= @trainerBadges.count %>/<%=@badgesTotal %>
          </span>
        </div>
      </div>
      <div class="form-login">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#Kanto" data-toggle="tab">Kanto</a></li>
          <li role="presentation"><a href="#Johto" data-toggle="tab">Johto</a></li>
          <li role="presentation"><a href="#Hoenn" data-toggle="tab">Hoenn</a></li>
          <li role="presentation"><a href="#Sinnoh" data-toggle="tab">Sinnoh</a></li>
          <li role="presentation"><a href="#Unys" data-toggle="tab">Unys</a></li>
          <li role="presentation"><a href="#Kalos" data-toggle="tab">Kalos</a></li>
        </ul>
          
        <div id="loginTabContent" class="tab-content form-login-content"> 
          <% for n in (0..5) do %>
          <div class="tab-pane fade <%= (n == 0) ? ('active') : ('') %> in" id="<%= @regions[n] %>">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Champion</th>
                  <th>City</th>
                  <th>Type</th>
                  <th>Obtained</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @badgesByRegion[n].each do |badge| %>
                  <tr id="badgeRow<%= badge.id%>">
                  <% @badgeInTrainerCollection = (@trainerBadges.include? badge) %> 
                    <td><img src="http://www.pokepedia.fr/<%= badge.picturelink %>"/></td>
                    <td><%= badge.name %></td>
                    <td><%= badge.champion %></td>
                    <td><%= badge.ville %></td>
                    <td><%= badge.typebadge %></td>
                    <td class="badgeObtainedColumn"><%= (@badgeInTrainerCollection)? "Yes" : "No" %></td>
                    <td class="badgeActionColumn">
                        <button class="removeBadgeButton" onclick="removeBadgeById(<%= badge.id %>)"
                          style="display:<%= @badgeInTrainerCollection? '' : 'none' %>"
                        >Remove</button>
                        <button class="addBadgeButton" onclick="addBadgeById(<%= badge.id %>)"
                          style="display:<%= @badgeInTrainerCollection? 'none' : '' %>"
                        >Add</button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table> 
          </div>
          <% end %>

        </div> <!-- /loginTabContent -->
      </div> <!-- form-login -->
    </div> <!-- panel-body --> 
  </div> <!-- panel panel-default -->
</div>