<p id="notice"><%= notice %></p>

<div class="container">
  <div class="introduction page-header">
    <h1 id="MegabookedexTitle">Megabookedex</h1>
    <h3>The Ultimate Book which gather all your Pokemon and badges.</h3>
  </div>

  <div class="panel panel-default">
    <div id="hid_maxPokemon" style="display:none"><%= @pokemonMax %></div>
    <div class="panel-heading">Summary</div>
    <div class="panel-body">
      <table class="table">
        <thead>
          <th>Pokemons caught</th>
          <th>Pokemons seen</th>
          <th>Badges obtained</th>
          <th>Points</th>
          <th>Rank</th>
        </thead>
        <tbody>
          <tr>
            <td><span id="pkmnCaught"><%= @CaughtNb %></span> / <%= @pokemonMax %></td>
            <td><span id="pkmnSeen"><%= @SeenNb %></span> / <%= @pokemonMax %></td>
            <td><span id="badgeObtained"><%= @trainerBadges.count %></span> / <%= @badgesTotal %></td>
            <td id="trainerPoints"><%= (@trainerBadges.count + 1) * @CaughtNb * @SeenNb %></td>
            <td><span>4137</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Pokémon</div>
      <div class="panel-body">  
        <label for="">Progress:</label>
        <div class="progress">
          <div id="pkmnProgressBarCaught" class="progress-bar progress-bar-info" style="width: 0%">
            <span id="totalPrctCaught" style="display:'none'">Caught</span>
          </div>
          <div id="pkmnProgressBarSeen" class="progress-bar progress-bar-warning" style="width:0%">
            <span id="totalPrctSeen" style="display:'none'">Seen</span>
          </div>
        </div>
            
        <nav style="margin-bottom:-10px">
          <ul class="pagination">
            <li id="goToFirstPage"><a aria-label="First">First</a></li>
            <li id="goToPrevPage"><a aria-label="Previous">Previous</a></li>
          </ul>
          <ul class="pagination" id="navButtons"></ul>
          <ul class="pagination">
            <li id="goToNextPage"><a aria-label="Next">Next</a></li>
            <li id="goToLastPage"><a aria-label="Last">Last</a></li>
          </ul>
          <select class="form-control" id="pkmnPageSelect">
              <% for i in 1..((@pokemonMax/12).to_i + 1) %>
                <option value="<%= i %>" onclick="goToPage(<%= i %>)">Page <%= i %></option>
              <% end %>
          </select>
        </nav>

        <div class="Test">
          <div id="resultsPKMN"></div>
          <div id="resultsPKMNTrainer"></div>
        </div>

        <div>
          <div class="row" id="pkmnList">
            <% @pokemons.each do |pokemon| %>
              <% if (@pokemonTrainer.include? pokemon) %>
                <% @pkmn = @pokemonTrainer.find(pokemon.id) %>
              <% else %>
                <% @pkmn = nil %>
              <% end %>
              <div id="pkmnRow<%= pokemon.number%>" class="col-xs-12 col-md-3 col-sm-6">
                <div class="thumbnail">
                  <h4>#<%= pokemon.number %> - <%= pokemon.name %></h4>
                  <hr>
                  <div class="pokemonImg">
                    <%= image_tag("pokemon/"+pokemon.smallpicturelink+".png") %>
                  </div>
                  <div class="caption huntActionColumn">
                    <div class="btn-group" style="width:100%">
                      <button type="button" class="btnState btn btn-block dropdown-toggle
                      <%= (@pkmn == nil)? 'btn-danger' : '' %>
                      <%= (@pkmn != nil && @pkmn.caught == 0)? 'btn-warning' : '' %>
                      <%= (@pkmn != nil && @pkmn.caught == 1)? 'btn-info' : '' %>" data-toggle="dropdown" aria-expanded="false">
                      <%= (@pkmn == nil)? 'None' : '' %>
                      <%= (@pkmn != nil && @pkmn.caught == 0)? 'Seen' : '' %>
                      <%= (@pkmn != nil && @pkmn.caught == 1)? 'Caught' : '' %> <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu">
                        <li class="removeHuntButton" onclick="changeStateOfPokemon(<%= pokemon.number %>, 'None')" style="display:<%= (@pkmn == nil)? 'none' : '' %>"><a>None</a></li>
                        <li class="addSeenHuntButton" onclick="changeStateOfPokemon(<%= pokemon.number %>, 'Seen')" style="display:<%= (@pkmn == nil || (@pkmn != nil && @pkmn.caught == 1))? '' : 'none' %>"><a>Seen</a></li>
                        <li class="addCaughtHuntButton" onclick="changeStateOfPokemon(<%= pokemon.number %>, 'Caught')" style="display:<%= (@pkmn == nil || (@pkmn != nil && @pkmn.caught == 0))? '' : 'none' %>"><a>Caught</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Badges</div>
    <div class="panel-body">
      <label for="">Progress:</label>
      <div class="progress">
        <% @prctCompletion = ((@trainerBadges.count * 100)/ @badgesTotal) %> 
        <div id="badgeProgressBar" class="progress-bar progress-bar-striped active" role="progressbar" 
          aria-valuenow="<%= @prctCompletion %>" aria-valuemin="0" 
          aria-valuemax="100" style="width: <%= @prctCompletion %>%">
          
          <span id="totalPrctCompletion" class="sr-only"><%= @prctCompletion %>% Complete</span>
          <span id="totalBadges" style="display:<%= (@prctCompletion > 7)? '' : 'none'  %>">
            <%= @trainerBadges.count %>/<%=@badgesTotal %>
          </span>
        </div>
      </div>
      <div class="form-login">
        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="#Kanto" data-toggle="tab">Kanto</a></li>
          <li role="presentation"><a href="#Johto" data-toggle="tab">Johto</a></li>
          <li role="presentation"><a href="#Hoenn" data-toggle="tab">Hoenn</a></li>
          <li role="presentation"><a href="#Sinnoh" data-toggle="tab">Sinnoh</a></li>
          <li role="presentation"><a href="#Unys" data-toggle="tab">Unys</a></li>
          <li role="presentation"><a href="#Kalos" data-toggle="tab">Kalos</a></li>
        </ul>
          
        <div id="loginTabContent" class="tab-content form-login-content"> 
          <% for n in (0..5) do %>
          <div class="tab-pane fade <%= (n == 0) ? ('active') : ('') %> in" id="<%= @regions[n] %>">
            <table class="table">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Champion</th>
                  <th>City</th>
                  <th>Type</th>
                  <th>Obtained</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% @badgesByRegion[n].each do |badge| %>
                  <tr id="badgeRow<%= badge.id%>">
                  <% @badgeInTrainerCollection = (@trainerBadges.include? badge) %> 
                    <td><img src="http://www.pokepedia.fr/<%= badge.picturelink %>"/></td>
                    <td><%= badge.name %></td>
                    <td><%= badge.champion %></td>
                    <td><%= badge.ville %></td>
                    <td><%= badge.typebadge %></td>
                    <td class="badgeObtainedColumn"><%= (@badgeInTrainerCollection)? "Yes" : "No" %></td>
                    <td class="badgeActionColumn">
                        <button class="btn btn-purple removeBadgeButton" onclick="removeBadgeById(<%= badge.id %>)"
                          style="display:<%= @badgeInTrainerCollection? '' : 'none' %>"
                        >Remove</button>
                        <button class="btn btn-purple addBadgeButton" onclick="addBadgeById(<%= badge.id %>)"
                          style="display:<%= @badgeInTrainerCollection? 'none' : '' %>"
                        >Add</button>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table> 
          </div>
          <% end %>

        </div> <!-- /loginTabContent -->
      </div> <!-- form-login -->
    </div> <!-- panel-body --> 
  </div> <!-- panel panel-default -->
</div>