<!DOCTYPE html>
<html>
<head>
  <title>CatchAll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <td><%= link_to "CatchAll", root_url , class: "navbar-brand" %></td>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
        		<li><%= link_to "Home", root_url , class: "navbar-brand" %></li>
	            <li><%= link_to "MegaBookedex", controller: "/megabookedex" %></li>
	            <li><%= link_to 'Ranking', controller: "/rankings", action: 'index' %></li>
        	</ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-cog"></i> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="account.html">Account</a></li>
                <li><%= link_to 'Contact Us', controller: "/contacts", action: 'new' %></li>
                <li class="divider"></li>
                <% if trainer_signed_in? %>
                    <li>
                    <%= link_to('Logout', destroy_trainer_session_path, :method => :delete) %>        
                    </li>
                  <% end %>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container noMarginBottom" id="bloc-infos">
      <p class="notice" id="success"><%= notice %></p>
      <p class="alert" id="error"><%= alert %></p>
    </div>

    <%= yield %>

	<footer class="footer">
      <div class="container">
        <p>2015 © CatchAll | Developped by CCMP Corp.</p>
      </div>
  </footer>

  <script type="text/javascript">
    jQuery(document).ready(function() {
      conteneurS = jQuery("#success");
      if(conteneurS.html() != "")  {
        conteneurS.addClass("bg-success");
      }
      else {
        jQuery("#bloc-infos").css("display","none");
      }
    });
  </script>
</body>
</html>
