<!DOCTYPE html>
<html>
<head>
  <title>CatchAll</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <!-- Fixed navbar -->

<%= yield %>

<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert" id="error"><%= alert %></p>
</div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    conteneur = jQuery("#error");
    if(conteneur.html() != "") {
      conteneur.addClass("bg-danger");
    }
    else {
      conteneur.css("display","none");
    }
  });
</script>

</body>
</html>